.display-video-list {
  margin-top: 3%;
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 75%;
  margin-left: 22%;
}
.welcome-message{
  margin-top:7%;
  width: 75%;
  margin-left: 22%;
  border-bottom: solid 0.5px black;
  word-spacing: 5px;
}
.welcome-message h3{
  text-align: center;
}
.welcome-message p{
  font-size: 12px;
  text-align: center;
}
.display-content-video{
 margin-bottom: 50px;
 background-color: #f1f1f3;;
 width: 220px;
 height: 300px;
}
.display-content-video:hover{
   box-shadow: 0px 0px 15px 0px rgba(73, 71, 71, 0.486);
}
.display-content-video img {
   
  height: 200px;
  width: 220px;
  float: left;
  padding-bottom:10px;
}
.display-content-video h6{
  color: black;
  margin-left: 15px;
}

