.header {
 background-color: #fcfcfc;
  height: 80px;
  width: 100%;
  margin-left: 20%;
  z-index: 100;
  position: fixed;
  top: 0%;
  border-bottom:solid 1px #e4e0e0;
}
.header-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  height: 50px;
  margin-left: 10%;
  margin-top: 1%;
  /* border: solid 1px yellow; */
}
.header-searchbar input {
  width: 400px;
  height: 30px;
  border: none;
  border-radius: 15px 0px 0px 15px;
  padding-left:20px ;
  background:transparent;
}
::placeholder{
  text-align: center;
}

.header-user-profil{
  margin-top:10px;
  border-radius: 100px;
  width: 30px;
  height: 30px;
  border: solid 1px green;
}
.header-user-profil:hover{
    cursor: pointer;
}
.header-seachbar-form div{
  width: 480px;
  display: flex;
  border: solid 1px rgb(172, 175, 172);
 margin-top: 10px;
  border-radius: 20px 20px 20px 20px;
}
.btn-search{
  height: 25px;
  margin-top: 3px;
  cursor: pointer;
  border: none;
  background:transparent;
}
.fa-brands{
  font-size: 25px;
}
.fa-brands:hover{
  color: red;
}

.pop-up{
  width:30%;
  height: 500px;
  margin-left: 600px;
  margin-top: 10px;
  background-color: rgba(255, 255, 255, 0.932);
  box-shadow: 0px 0px 15px 0px rgba(197, 194, 194, 0.911);
  border-radius: 10px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}
.pop-up h2{
  color:red;
}
.closePop-up{
  margin-top: 20px;
  width: 10%;
}
.pop-up form{
  width: 80%;
  margin-left: 10%;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.pop-up form input{
  height: 30px;
  border:2px solid rgba(0, 3, 31, 1);
  border-radius: 10px;
  padding-left: 10px;
}
.saveUser{
  margin-top: 20px;
  border-radius: 10px;
  height: 40px;
  border: none;
  background-color:rgba(0, 3, 31, 1); 
  color: white;
  font-weight: bolder;
 
}
.saveUser:hover{
   cursor: pointer;
   background-color: green;
}
.exitIcon{
  display: block;
  float: left;
  margin-top: -60px;
  margin-left: 10px;
  color: red;
}
.exitIcon:hover{
  cursor: pointer;
  color: black;
}