
.button-out{
    background-color: rgb(192, 9, 18) !important;
     color: white !important;
     height: 30px !important;
     border-radius: 10px !important;
     margin-top: 1.5% !important;
}
.button-out:hover{
    background-color: red !important;
}