.resignIn-button button{
  cursor:pointer;
  width: 120px;
  height: 40px;
  border-radius: 15px 15px 15px 15px;
  border: none;
  font-weight: bold;
}
.resignIn-button button:hover{
        background-color: green;
}
.resignIn-content:hover{
  box-shadow: 0px 0px 30px 0px rgba(243, 22, 15, 0.74);
}
.resignIn {
  width: 100%;
  height: 768px;
  position: absolute;
  top: 0%;
  display: flex;
  justify-content: center;
  background-color: rgb(0, 0, 0);
}
.resignIn-content {
  width: 25%;
  height:500px;
  box-shadow: 0px 0px 30px 0px rgba(233, 233, 233, 0.274);
  border-radius: 30px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  align-content: space-around;
  margin-top: 15%;
  z-index: 100;
}
.resignIn-text{
  margin-top: 20%;
}
.resignIn-content h1{
  color: white;
  text-align: center;
}
.resignIn-button{
  margin-left:32.5%;
  margin-top: 50%;
}