.header {
 background-color: #fcfcfc;
  height: 80px;
  width: 100%;
  margin-left: 20%;
  z-index: 100;
  position: fixed;
  top: 0%;
  border-bottom:solid 1px #e4e0e0;
}
.header-items{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 60%;
  height: 50px;
  margin-left: 10%;
  margin-top: 1%;
  /* border: solid 1px yellow; */
}
input {
  width: 500px;
  height: 30px;
  border: 1px solid rgb(236, 234, 234);
  border-radius: 15px 15px 15px 15px;
  padding-left:20px ;
  margin-top: 2%;
}
input:hover{
  border: 1px solid rgb(233, 41, 41);
}
::placeholder{
  text-align: center;
}

.header-user-profil{
  margin-top: 0.25%;
  border-radius: 100px;
  width: 40px;
  height: 40px;
  border: solid 4px rgb(4, 134, 43);
}